{
    "gene_pool_size": 10,
    "iteartion_count": 10,
    "coverage": true,
    "modules": [{
                    "module_name": "system/lib64/hw/lights.vts",
                    "git_project": {
                        "name": "platform/test/vts",
                        "path": "test/vts"
                    }
                }]
}
