{
    "coverage_src_files": [
        "util/QCameraCmdThread.cpp",
        "util/QCameraQueue.cpp",
        "util/QCameraFlash.cpp",
        "util/QCameraPerf.cpp",
        "QCamera2Hal.cpp",
        "QCamera2Factory.cpp",
        "HAL3/QCamera3HWI.cpp",
        "HAL3/QCamera3Mem.cpp",
        "HAL3/QCamera3Stream.cpp",
        "HAL3/QCamera3Channel.cpp",
        "HAL3/QCamera3VendorTags.cpp",
        "HAL3/QCamera3PostProc.cpp",
        "HAL3/QCamera3CropRegionMapper.cpp",
        "HAL3/QCamera3StreamMem.cpp",
        "HAL/QCamera2HWI.cpp",
        "HAL/QCameraMem.cpp",
        "HAL/QCameraStateMachine.cpp",
        "HAL/QCameraChannel.cpp",
        "HAL/QCameraStream.cpp",
        "HAL/QCameraPostProc.cpp",
        "HAL/QCamera2HWICallbacks.cpp",
        "HAL/QCameraParameters.cpp",
        "HAL/QCameraThermalAdapter.cpp"
    ]
}
