{
    "test_bed":
    [
        {
            "_description": "Put in the appropriate serial number before running."
            "name": "Sl4aSample",
            "AndroidDevice": [{"serial": "<serial>", "product_type": "angler", "enable_sl4a": true, "enable_vts_agent": false}]
        }
    ],
    "log_path": "/tmp/logs",
    "test_paths": ["./"]
}
