# This configuration is written in python and used by annotate.py.

import os

# A list of profiling record files. By default it only contains perf.data.
perf_data_list = ["perf.data"]


# Directory used to read binaries with debug info. Ideally, it should be
# set to the path of binary_cache_dir collected by app_profiler.py.
# Set to "" if not available.
symfs_dir = "binary_cache"


# File path used to find kernel symbols. Set to "" if not available.
kallsyms = ""


# A list of directories used to find source files.
source_dirs = []


# Directory used to output annotated source files.
annotate_dest_dir = "annotated_files"


# Sample Filters
# Use samples only in threads with selected names.
comm_filters = []
# Use samples only in processes with selected process ids.
pid_filters = []
# Use samples only in threads with selected thread ids.
tid_filters = []
# Use samples only in selected binaries.
dso_filters = []


# We use addr2line to map virtual address to source file and source line.
# So set the path to addr2line here.
addr2line_path = "addr2line"