# This configuration is written in python and used by binary_cache_builder.py.

import os
import os.path

# path of profiling record data.
perf_data_path = "perf.data"


# directories to find binaries with symbols and debug information.
# If binaries are found in any of these directories, having the same build_id
# as the one recorded in perf.data, then we copy the binary in the directory
# instead of pulling the binary from device.
symfs_dirs = []


# directory to cache binaries. To report precisely, we pull needed binaries
# to host. However, We don't need to pull a binary if there is already a binary
# in binary_cache_dir having the same build_id as the one on device.
binary_cache_dir = "binary_cache"


# path of adb.
adb_path = "adb"

# path of readelf, set to "" if not available.
readelf_path = "readelf"