{
    "fuzzer_configs": {
        "vts_proto_fuzzer": {
            "vts_fuzzer_params": {
                "vts_spec_files": [
                    "sensors/Sensors.vts",
                    "sensors/types.vts"
                ],
                "vts_exec_size": 50
            },
            "llvmfuzzer_params": {
                "max_len": 65536,
                "max_total_time": 60
            }
        }
    }
}
