{
    "fuzzer_configs": {
        "vts_proto_fuzzer": {
            "vts_fuzzer_params": {
                "vts_spec_files": [
                    "power/Power.vts",
                    "power/types.vts"
                ],
                "vts_exec_size": 100
            },
            "llvmfuzzer_params": {
                "max_len": 65536,
                "runs": 100
            }
        }
    }
}
